.main-content {
     display:flex;
     width: 100%;
}

.music-player {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 60%;
     height: 100%;
     background-color: lightskyblue;
}

.song-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
}

#active-song-title {
     text-align: center;
     color: white;
     size: 18px;
     font-family: sans-serif;
}

#active-song-artist {
     text-align: center;
     color: white;
     size: 18px;
     font-family: sans-serif;
}

#active-song-album{
     text-align: center;
     color: white;
     size: 18px;
     font-family: sans-serif;
}

.play-bar {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 10%;
     background-color: lightskyblue;
}

.play-bar-button {
     height: 40px;
     size: 24px;
     color: black;
     width: 40px;
     margin-left: 1%;
     margin-right: 1%;
}

#pause-play {
     border-radius: 20px;
}

.now-playing-text-box {
     background: rgba(0, 0, 0, 0.0);
     height: 5%;
}

#now-playing-label {
     text-align: center;
     color: white;
     size: 18px;
     font-family: sans-serif;
}

.song-artwork {
     display:flex;
     justify-content: center;
     heigth: 100%;
}

#active-song-art-file {
     height: 300px;
     width: 300px;
}

.playlist {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 40%;
     height: 100%;
     background: linear-gradient(to right, royalblue , dodgerblue);
     overflow: scroll;
}

.playlist-title-bar {
     display: flex;
     flex-direction: column;
     justify-content: center;
     order: -2;
     background-color: navy;
     height: 8%;
}

.song {
     background-color: mediumorchid;
     height: 7%;
     font-family: sans-serif;
}

.active-song {
     background-color: crimson;
     height: 7%;
     order: -1;
}

#playlist-name {
     text-align: center;
     color: white;
     size: 18px;
     font-family: sans-serif;
}
